<!doctype html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/pairmodoro.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
</head>