<div class="page-header"><h1>Stats for {{name}}</h1>
        </div>
        <i class="loading icon-spinner icon-spin icon-2x"></i>
        <div id="statistics">
        </div>
        <div class="actionbar">
            <div class="buttons pull-left">
                <button class="btn btn-large btn-primary" id="backBtn" type="button">Back</button>
            </div>
        </div>