<div class="page-header">
            <h1 id="timerPageHeader">{{ userOne }} & {{ userTwo }}</h1>
        </div>
        <h1 class="timer"></h1>
        <h1 id="timerMessage">Well done, now take a break.</h1>
        <div class="actionbar">
            <div class="buttons pull-left">
                <button class="btn btn-large btn-primary" id="changePairBtn" type="button">Change Pair</button>
            </div>
            <div class="buttons pull-right">
                <button class="btn btn-large btn-primary btn-success" id="pomodoroBtn" type="button">Start Pomodoro</button>
        <button class="btn btn-large btn-primary btn-danger" id="breakBtn" type="button" disabled="disabled">Take a break</button>
                </div>
        </div>