{{>head}}
<body>
    {{>menu}}
<div class="container-narrow">
    <div class="jumbotron">
        <h1>How do you pair program?</h1>
        <br/>

        <p class="lead">Pairmodoro is pair programming and the pomodoro technique combined. Use Pairmodoro to gain
            control over your work process and gather valuable insights over time. </p>
        <br/>

        <form action="/team" method="post">
            <label>Team Name<input type="text" name="name"></label>
            <label>Password<input type="text" name="password"></label>
            <label>Email<input type="text" name="email"></label>
            <input class="btn btn-large btn-success" type="submit" value="Create free Team Account"/>
        </form>
    </div>
</div>
</body>

