<!doctype html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>


<body>
  <div class="container-narrow">

    {{>menu}}

    <div class="jumbotron">
      <h1>How do you pair program?</h1>
      <br/>
      <p class="lead">Pairmodoro is pair programming and the pomodoro technique combined. Use Pairmodoro to gain control over your work process and gather valuable insights over time. </p>
    <button class="btn btn-large btn-success">Create free Team account</button>
    </div>
    {{>footer}}

  </div>
</body>

