{{>head}}
<body>
  {{>menu}}
  <div class="container-narrow">
    <div class="jumbotron">
      <h1>How do you pair program?</h1>
      <br/>
      <p class="lead">Pairmodoro is pair programming and the pomodoro technique combined. Use Pairmodoro to gain control over your work process and gather valuable insights over time. </p>
      <br/>
    <button class="btn btn-large btn-success">Create free Team account</button>
    </div>
  </div>
  <script>
      $.wallpaper({
        file: "Blurred Backgrounds (14).jpg"
      });
  </script>
</body>

