<!doctype html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>


<body>
	{{> menu}}
	<div class="container-narrow">
		<div class="jumbotron">
			{{> loginForm}}
		</div>
	</div>
</body>

