{{>head}}
<body>
	<div class="container-narrow">
		{{>menu}}
		<div class="container">
        <div id="main_display">
        </div>
    </div>
		{{>footer}}
	</div>
	<script src="/build.js"></script>
</body>

