{{>head}}
<body>
	{{>menu}}
	<div class="container-narrow">
		<div class="container">
			<div id="main_display">
			</div>
		</div>
	</div>
	<script>
	$(document).ready(function() {
		StartPage.render();
		moment().format();
	});
	</script>
</body>

