<!doctype html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>


<body>
	<div class="container-narrow">
		{{>menu}}
		<p>Hello!</p>
		{{>footer}}
	</div>
</body>

